/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: helvetica, arial, sans-serif;
}

#header {
  display: flex;
  justify-content: space-between;
  height: 46px;
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

#nav,
.subnav {
  list-style-type: none;
}

#nav > li {
  display: inline-block;
}

#nav li {
  position: relative;
}

#nav .subnav {
  display: none;
  min-width: 160px;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  top: 100%;
  left: 0;
}

#nav > li > a {
  color: #fff;
  text-transform: uppercase;
}

#nav li a {
  text-decoration: none;
  line-height: 46px;
  padding: 0px 24px;
  display: block;
}

#nav > li:hover .subnav {
  display: block;
}

.nav-arrow-down {
  font-size: 10px;
}

#nav > li:hover > a,
#nav .subnav li:hover a {
  color: #000;
  background-color: #ccc;
}

#nav .subnav a {
  color: #000;
  padding: 8px 12px;
  line-height: 38px;
}

#header .search-button {
  display: flex;
  align-items: center;
  padding: 0 20px;
}

#header .search-button:hover {
  cursor: pointer;
  background-color: red;
}

#header .search-icon {
  color: #fff;
  font-size: 20px;
}

#slider {
  margin-top: 46px;
  padding-top: 50%;
  padding-bottom: 50px;
  background: url(/assets/img/Slider2/chicago.jpg) top center / cover no-repeat;
}

#slider .slider-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  height: 100%;
  color: #fff;
}

#slider .slider-title {
  margin-bottom: 15px;
}

#slider .slider-description {
}
#content {
}

#footer {
}
